.about-me {
    display: flex; /* Use Flexbox to create a side-by-side layout */
    align-items: center; /* Vertically center the content */
    padding: 2rem; /* Add some padding around the section */
    background-size: cover; 
    background-position: center;
    background-color: #000000;
  }
  
  .content {
    display: flex; /* This will enable a horizontal layout for image and text */
    width: 100%; /* Make it take full width */
  }
  
  .image-container {
    flex: 1; /* Allow the image container to take up equal space */
    margin-right: 1rem; /* Space between the image and text */
  }
  
  .profile-image {
    margin-top: 2vw;
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
    border-radius: 1vw; /* Optional: round the edges of the image */
  }
  
  .text-container {
    flex: 2; /* Allow the text container to take more space */
    color: #B08145; /* Optional: change text color */
    
  }
  
 /* h1 {
    font-weight: bold;
    color: #fafafa;
    margin-bottom: 3vw;
    font-size: 2vw;
  }*/
  
  p {
    font-size: 2rem; 
    line-height: 1.5; /* Improve readability */
    margin-top: 5vw;
    text-align: center;
  }

  @media (max-width: 768px) {
    .profile-image {
        width: 100%; /* Adjust for mobile */
        height: auto;
    }
}
