body {
  margin: 0;
  padding: 0;
  /*background-color: #000000;  Fallback background color */
  font-family: 'Lilita One', sans-serif;
}

#root {
  margin: 0 auto;
  overflow-x: hidden;
  text-align: center;
}

.gradient-background {
  background: linear-gradient(180deg, #010920, #062d53, #4991a9, #700035);
  background-size: 300% 300%; /* Expand gradient for smoother transitions */
  position: fixed; /* Make sure it covers the entire viewport */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; /* Cover the entire viewport */
  z-index: -1; /* Keep it behind all other elements */
}

/* Keyframes for smooth gradient animation */
@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Section styles */
section {
  position: relative; /* Ensures that the section appears above the gradient */
  padding: 50px 20px; /* Adjust padding as necessary */
  min-height: 100vh; /* Each section covers the full viewport height */
  color: white; /* Text color for better visibility */
}

/* Font class */
.lilita-one-regular {
  font-family: 'Lilita One', sans-serif;
  font-weight: 400;
  font-style: normal;
}
