.footer {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    background-color: #D2B37C;
    color: #B08145;
    padding: 0.5rem;    
}
  .footer-content {
    margin-bottom: 0.5rem;
    font-size: 2rem;
    margin-right: 11rem;
    padding-top: 1rem;
  }
  
  .footer-copyright {
    margin-left: 10rem;
    margin-top: 0.5rem;
    font-size: 1rem;
  }
  
  .footer-contacts {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }
  
  .contact-button {
    display: flex;
    align-items: center;
    transition: background-color 0.3s, transform 0.3s;
    padding-bottom: 1vw; 
}
  
  .icon {
    width: 2.5vw;
    height: auto;
    transition: transform 0.3s ease-in-out;
    margin-top: 1vw;

  }
  
  .contact-button:hover .icon {
    transform: scale(1.2);
  }
    
  .coffee-icon {
    width: 9vw;
    height: auto;
    transition: transform 0.3s ease-in-out;
    margin-right: 10rem;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */


  }
  .coffee-icon:hover  {
    transform: scale(1.2);
  }

  @media (max-width: 768px) {
    .icon {
        width: 5vw; /* Adjust for mobile */
        height: auto;
    }
}
