.image-container {
  height: 100vh; /* Full height of the image container */
  width: 100vw;
  overflow: hidden;
  background-size: cover; /* Ensure the image covers the entire container */
  background-position: center; /* Center the image */
  margin-top: 0%;
  text-align: center;
}
.lilita-one-regular {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.top-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire container */
}

/* Styles for the text overlay */
.intro-text .text-container {
  color: #fafafa; /* Set text color */
  /*user-select: none*/
}

h1 {
  font-size:  2.5rem; /* Adjust as needed */
  font-weight: bold; /* Ensure h1 is bold */
}

h2 {
  font-size: 1.5rem; /* Adjust as needed */
}


